.item {
    height: 40px;
    text-align: left;
    clear: both;
    padding: 0;
    line-height: 40px;
  }
  
  .quantity {
    color: #5250507e;
  }
  
  .quantity::after {
    content: ")";
  }
  
  .quantity::before {
    content: "(";
  }
  
  .plus {
    width: 30px;
    background: #28a745;
    border: 0px;
    color: white;
    padding: 5px;
  }
  
  .minus {
    width: 30px;
    background: red;
    border: 0px;
    color: white;
    padding: 5px;
    margin-left: 5px;
  }
  
  /* modal */
  .backdrop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    cursor: pointer;
  }
  
  .modalBody {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
  }